/* ------------------------------ Component Button ------------------------------ */
.button{
  @apply px-[3%] py-[1%] md:py-[12px] md:px-[24px] gap-x-[3vw] md:gap-x-[12px] text-xs md:text-[16px];
  @apply transition;
  border: 1px solid $c_primary_500;
  background: $c_primary_500;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  border-radius: 4px;
  @include flex-center;
  &:hover{
    background: $c_primary_600;
  }
  &_inner{
    @apply flex-shrink-0 ;
  }
  /* ------------------------------ Button outline  ------------------------------ */
  &_outline{
    color: $c_primary_600;
    background: #fff;
    &:hover{
      color: $c_primary_600;
      background: #fff;
      border: 1px solid $c_primary_600;
    }
  }
  /* ------------------------------ Button has icon  ------------------------------ */
  &_icon{
    &_img{
      @apply w-[25%] md:w-[auto]
    }
  }
}

/* ------------------------------ Button Label  ------------------------------ */
.button_label{
  @apply flex justify-center items-center;
  /* ------------------------------ Size control ------------------------------ */
  &_normal{
    @apply
    p-[4vw] md:p-[30px] lg:p-[15px]
    w-[48px]
    h-[48px]
    rounded-[4px]
  }
  &_big{
    @apply
    p-[5.3vw] md:p-[40px] lg:p-[20px]
    w-[72px]
    h-[72px]
    rounded-[6px]

  }
  /* ------------------------------ Variant control ------------------------------ */
  &_white{
    background-color: #fff;
    .button_label_img{
      filter: invert(65%) sepia(96%) saturate(3117%) hue-rotate(249deg) brightness(99%) contrast(108%);
    }
    &:hover{
      background-color: $c_primary_500;
      .button_label_img{
        filter: none;
      }
    }
  }
  &_puple{
    background-color: $c_primary_100;
    .button_label_img{
      filter: invert(65%) sepia(96%) saturate(3117%) hue-rotate(249deg) brightness(99%) contrast(108%);
    }
    &:hover{
      background-color: $c_primary_500;
      .button_label_img{
        filter: none;
      }
    }
  }
  &_circle{
    @apply rounded-full text-white uppercase;
    background-color: $c_primary_500;
  }
}