{% extends "templates/layout/main.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
  <div class="wrapper">

    <header class="header">
      <div class="g_container header_inner">

      </div>
    </header>

    <main class="main">

      <section class="hero track_view">
        <div class="g_container hero_inner">
          <div class="hero_left">
            <h1 class="hero_title">Hello, I'm LTD</h1>
            <p class="hero_para">I'm a Freelance UI/UX <strong>Designer</strong> and <strong>Developer</strong> based in HCM, VIETNAM. I strives to build immersive and beautiful web applications through carefully crafted code and user-centric design.</p>
            <a class="button hero_button" href="/">
              <span class="button_inner">Say Hello</span>
            </a>
            <ul class="hero_overview">
              <li class="hero_overview_item">
                <p class="item_para1">2 Y.</p>
                <p class="item_para2">Experience</p>
              </li>
              <li class="hero_overview_item">
                <p class="item_para1">5 +</p>
                <p class="item_para2">Project Completed</p>
              </li>
              <li class="hero_overview_item">
                <p class="item_para1">10 +</p>
                <p class="item_para2">Happy Client</p>
              </li>
            </ul>
          </div>
          <div class="hero_right">

          </div>
        </div>
      </section>

      <section class=""></section>

    </main>

    <footer>

    </footer>

  </div>
{% endblock %}