/*
 COMMON STYLE
 The file contain common style for all pages

 Update list of part here

 # UI Guide Part

*/

// # UI Guide Part
.guide{
  &_container{
    @apply container mx-auto mb-5 md:mb-20
  }
  &_title{
    @apply bg-gradient-to-br from-sky-500 to-teal-500 text-white font-extrabold pl-5 py-2
  }
  &_inner{
    @apply
    border
    border-teal-500
    flex items-center
    justify-center
    p-5
    flex-wrap
    gap-5;
  }
}

// # Container
.g_container{
  width: 100%;
  overflow: hidden;
  padding-right: 5vw;
  padding-left: 5vw;
  @media (min-width: theme('screens.sm')) {
    width: 1320px;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  }
}

// # Animation intoView
.track_view{
  @apply opacity-0 transform translate-y-20 transition duration-500 ease-in-out;
  &.active_view{
    @apply opacity-100 transform translate-y-0;
  }
}
