$c_primary_100 : #EDD8FF;
$c_primary_200 : #DBB1FF;
$c_primary_300 : #C98BFF;
$c_primary_400 : #B764FF;
$c_primary_500 : #A53DFF;
$c_primary_600 : #8431CC;
$c_primary_700 : #632599;
$c_primary_800 : #632599;
$c_primary_900 : #421866;
$c_primary_final : #421866;
