<div class="card_address">
  <div class="card_address_img">
    {% include '../button/button-label.twig' with {iconUrl: imgUrl, className: 'button_label_normal button_label_puple'} %}
  </div>
  <div class="card_address_content">
    <p class="card_address_title">Address:</p>
    <p class="card_address_para">{{ content }}</p>
  </div>
</div>