<div class="card_process">
  <div class="card_process_img">
    <img loading="lazy" class="img" src="{{ imgUrl }}" alt="{{ imgTitle }}">
  </div>
  <div class="card_process_main">
    <div class="card_process_main_inner">
      <p class="card_process_ttl">{{ title }}</p>
      <p class="card_process_para">{{ content }}</p>
    </div>
  </div>
</div>
