<div class="card_process">
  <div class="card_process_img">
    {% include '../button/button-label.twig' with {iconUrl : imgUrl, className: 'button_label_big button_label_puple'} %}
  </div>
  <div class="card_process_main">
    <div class="card_process_main_inner">
      <p class="card_process_ttl">{{ title }}</p>
      <p class="card_process_para">{{ content }}</p>
    </div>
  </div>
</div>
