<div class="card_blog">
  <div class="card_blog_img">
    <img loading="lazy" class="img" src="{{ imgUrl }}" alt="{{ imgTitle }}">
  </div>
  <div class="card_blog_main">
    <div class="card_blog_main_inner">
      <p class="card_blog_date">{{ date }}</p>
      <p class="card_blog_para">{{ content }}</p>
    </div>
  </div>
</div>
